/* body {
    display: flex;
    justify-content: center;
    background-image: url(../../images/testForest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cinzel', serif;
} */

.signup-div {
  display: flex;
  font-family: 'Cinzel', serif;
 
  
}

.signup-h2 {
   font-size: xx-large;
   margin-top: -40%;
   text-align: center;

}

.signup-boxes {
  display: flex;
  /* border: 2px solid black; */
  flex-direction: column;
}

.login-box {
  display: flex;
  width: 50%;
}
.username-input{
    padding: 10px;
    /* border-radius: 4px; */
    /* border: 2px solid #5d0cff; */
    outline: none;
    background:transparent;
}
.username-input::placeholder {
    color:black;
  }
.password-input{
    padding:10px;
    /* border-radius: 4px; */
    /* border: 2px solid #5d0cff; */
    outline: none;
    background: transparent;
}
.password-input::placeholder {
    color: black;
  }

.signUp-box {
  display: flex;
  width: 50%;
}
#login-btn{
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #3e0606;
  color: #fff;
  text-transform: capitalize;
}
#signUp-btn{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: #174d24;
    color: #fff;
    text-transform: capitalize;

}
/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap" rel="stylesheet"> */




@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');



/* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Tilt Prism', cursive; */

