@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');

.header h1 {
    font-family: 'Cinzel', serif;
    font-size: xx-large;
    

}