.combat-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.combat-screen {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.combat-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    height: 1rem;
    /* margin-bottom: 5%; */
   color: rgb(151, 119, 31);
}

.initiative-bar {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    width: 75%;
    height: 4rem;
}

#init-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 2vw;
    padding: 1rem;
    background-image: url(../images/paladin.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 1.5rem;
    
    

}

#init-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 2vw;
    padding: 1rem;
    background-image: url(../images/Wizard.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2rem;
    width: 5vw;
}

#init-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;  
}

#init-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem; 
}

#init-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;  
}

#init-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem; 
}

#init-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;   
}

#init-8 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;   
}

/* .init-p {
    
    font-size: 1rem;
    text-align: center;
} */

.combat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 20rem;
    
}

.party-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vw;
    width: 10vw;
}

.party-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 90%;
    padding: 1rem;
    background-color: rgb(32, 223, 32, .5);
}

.actions {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vw;
    width: 7vw;
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 90%;
    padding: 1rem;
}

#player {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    background-color: rgb(32, 223, 32, .5);
}

#target {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    background-color: rgba(242, 54, 7, 0.5);
}

.turn-taker {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vw;
    width: 7vw;
}

.enemy-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vw;
    width: 10vw;
}

.enemy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 90%;
    padding: 1rem;
    background-color: rgba(242, 54, 7, 0.5);
}

.combat-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid black;
    width: 35rem;
    height: 5vw;
}





/* .party-pic {
    border: 1px solid black;
    padding: 5%;
    width: 40%;
    background-image: url(../images/placeholder.png);
    background-size: contain;
    height: 10vw;
    margin:  .2rem;
  }  */