.combat-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.combat-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.combat-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    height: 1rem;
    /* margin-bottom: 5%; */
   color: rgb(151, 119, 31);
}

.initiative-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    /* border: 2px solid red; */
    width: 75%;
    
}

#init-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0%;
    width: 80;
}

.init-p {
    font-size: .7rem;
    text-align: center;
    padding: 0%;
    margin: 0%;
    width: 50%;
}

.combat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    
}

.party-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.actions {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

#player {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 5rem;
}

.turn-taker {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    
}

#target {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    width: 5rem;

}

.enemy-container {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

.combat-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    width: 35rem;
    margin: 1rem;
    
}





/* .party-pic {
    border: 1px solid black;
    padding: 5%;
    width: 40%;
    background-image: url(../images/placeholder.png);
    background-size: contain;
    height: 10vw;
    margin:  .2rem;
  }  */