@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');

button:disabled {
    color: black;
}

.combat-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* border: 2px solid blue; */
    width: 95%;
}

.combat-screen {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    width: 95%;
    height: 85%;
    max-width: 100%;
    margin-bottom: .2rem;
}

.combat-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    /* height: 1.5rem; */
    /* margin-bottom: 5%; */
    margin-top: 1.5rem;
   color: rgb(151, 119, 31);
   font-family: 'Cinzel', serif;
}

.initiative-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: .2rem solid black;
    padding-left: .5rem;
    padding-right: .5rem;

    background-image: linear-gradient(to right, rgba(0, 255, 30, 0.816), rgba(138, 83, 1, 0.9));

}

/* #init-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 2vw;
    padding: 1rem;
    background-image: url(../images/paladin.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 1.5rem;
    
    

}

#init-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 2vw;
    padding: 1rem;
    background-image: url(../images/Wizard.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 2rem;
    width: 5vw;
}

#init-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;  
}

#init-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem; 
}

#init-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;  
}

#init-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem; 
}

#init-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;   
}

#init-8 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid red;
    width: 80%;
    padding: 1rem;   
} */

/* .init-p {
    
    font-size: 1rem;
    text-align: center;
} */

.init-img {
    display: flex;
    flex-wrap: wrap;
    height: 7vh;
    width: 7vw;
    border: 2px solid black;
}

.position-5 {
    /* justify-content: center; */
    /* border: .1rem solid red; */
    /* width: 100%; */
    /* font-size: .8rem; */
    /* padding: .2rem; */
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-holder-active {
    display: flex;
    justify-content: center;
    background-color: green;
}

.button-holder-active-enemy {
    display: flex;
    justify-content: center;
    background-color: red;
}

.button-holder-active-enemy:hover {
    cursor: grab;
}

.target-button {
    border: .2rem solid black;
    height: 7vh;
    width: 100%;
    max-width: 5vw;
}

.hp-ratio {
    margin-left: .1rem;
    display: flex;
    justify-content: center;
    font-size: 1vw;
    width: 90%;
    font-weight: bold;
    /* max-width: 95%; */
}

.combat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid black; */
    width: 100%;
    height: 37vh;
    /* margin-top: .5rem; */
    
}

.party-container {
    border: .2rem solid black;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(0, 255, 30), rgb(138, 83, 1));
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* height: 20vw; */
    width: 15%;
}

/* .party-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 90%;
    padding: 1rem;
    background-color: rgb(32, 223, 32, .5);
} */


#player {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    background-color: rgb(0, 255, 30);
}

#player img {
    width: 10vw;
    height: 9vw;
}

#target {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 10vw;
    background-color: red;
}

#target img {
    width: 10vw;
    height: 9vw;
}

.actions {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vw;
    width: 7vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 5vw;
    height: 4vh;
    font-size: 1vw;
    font-weight: bold;
    /* padding: 1rem; */
}

.action-btn:hover {
    cursor: grab;
}

.turn-taker {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    height: 15vw;
    width: 7vw;
    background-color: rgba(0, 0, 0, 0.5);
}

/* #start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
} */

.enemy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 5vw;
    height: 10vh;
    font-size: 1vw;
    font-weight: bold;

}

.enemy-container {
    border: .2rem solid black;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, rgb(0, 255, 30), rgb(138, 83, 1));
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* height: 20vw; */
    width: 15%;
}

/* .enemy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    width: 90%;
    padding: 1rem;
    background-color: rgba(242, 54, 7, 0.5);
} */

.combat-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: .2rem solid black;
    width: 65%;
    height: 7vh;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to top, rgb(0, 255, 30), rgb(138, 83, 1));
}

#combat-log {
    width: 100%;
    font-size: 1vw;
}

/* .button-holder {
    display: flex;
    justify-content: center;
    width: 100%;
}

.target-button {
    width: 80%;
} */






/* .party-pic {
    border: 1px solid black;
    padding: 5%;
    width: 40%;
    background-image: url(../images/placeholder.png);
    background-size: contain;
    height: 10vw;
    margin:  .2rem;
  }  */