@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');

.game-over-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 65vh;
    padding: 0%;
    margin: 0;
}

.game-over-message h2 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Cinzel', serif;
    color: black;
    text-shadow: 0 0 25px rgb(0, 238, 255);
    padding: 0;
    margin: 0;
}

.game-over-message p {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    text-shadow: 0 0 25px rgb(0, 238, 255);
}