@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');

.main-0 {
    background-image: url(../images/dungeonKind.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-1 {
    background-image: url(../images/Tavern.jpeg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}
.main-2 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-3 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-4 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-5 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-6 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}

.main-7 {
    background-image: url(../images/testForest.jpg);
    background-size: cover;
    border-radius: 25px;
    border: 5px solid black;
    height: fit-content;
    width: 100%;
    align-items: center;
}



.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    /* padding: 1%; */
    font-family: 'Cinzel', serif;
    color: black;
    text-shadow: 0 0 25px rgb(241, 249, 16); 
    
    
}

.container-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid rgb(155, 31, 31); */
    padding-bottom: 1.5%;
    padding-top: 1%;
    margin-right: 7%;
    margin-left: 7%;
    /* background-color: rgba(85, 29, 29, 0.284); */
    border-radius: 25px;
    position: relative;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(163, 22, 22);
    padding-bottom: 1.5%;
    padding-top: 1%;
    margin-right: 7%;
    margin-left: 7%;
    background-color: rgba(108, 20, 20, 0.507);
    border-radius: 25px;
    position: relative;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(213, 216, 28);
    padding-bottom: 1.5%;
    padding-top: 1%;
    margin-right: 7%;
    margin-left: 7%;
    background-color: rgba(13, 7, 94, 0.284);
    border-radius: 25px;
    position: relative;
}




.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: medium;
    color: white;
    text-shadow: 0 0 30px rgb(0, 0, 0); 
    padding: 3%; 
}