
.party-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    justify-content: center;
    /* padding-top: 1%; */
    position: relative;
  }

.party-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4vw;
    height: 1rem;
    margin-bottom: 5%;
   color: rgb(151, 119, 31);
}

.classes-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.members {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    border: 4px solid rgb(0, 0, 0);
    height: 16vw;
    margin: .1rem;

}

.member-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 4vw;
  
}

.party-info {
  border: 1px solid black;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  /* margin: .2rem; */
  height: 10vw;
  font-size: 2vw;
}

.party-pic {
  border: 1px solid black;
  /* padding: 5%; */
  width: 40%;
  background-image: url(../images/placeholder.png);
  background-size: contain;
  height: 10vw;
  /* margin:  .2rem; */
}

#label1 {
  font-size: 2vw;
  width:100%;
  height: 2vw;
  margin-left: .1rem;
  color: rgb(151, 119, 31);
}

.name-text {
  width: 70%;
  font-size: 1vw;
  height: 1.5vw;
  margin-left: .2rem;
  /* margin-bottom: .5rem; */
}

.party-class {
  width: 80%;
  font-size: 1vw;
  height: 2vw;
  margin-left: .2rem;
  background: rgb(151, 119, 31);
}


.card-title {
    font-size: 2.5vw;
    margin: .1rem;
    color: rgb(151, 119, 31);
}



#member-1 {
    width: 33%;
    margin-left:3%;
   
}

#member-2 {
    width: 33%;
    margin-left: .5%;
    margin-right:25%;
}
#member-3 {
    width: 33%;
    margin-left:3%;
}
#member-4 {
    width: 33%;
    margin-left: .5%;
    margin-right:25%;
}



.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #submit-btn {
    width: 20%;
    margin: .5%;
    margin-top: 2%;
  } */

#create-btn {
   
    margin: .5%;
    background:rgb(151, 119, 31) ;
    color: white;
  }