
.party-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Cinzel', serif;
    justify-content: center;
    align-items: center;
    /* padding-top: 1%; */
    position: relative;
    /* border: 3px solid black; */
    width: 80vw;
    height: 70vh;
    max-width: 100%;
    max-height: 100%;
  }

.party-h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4vw;
    padding: 0;
    margin: 0;
    color: rgb(233, 190, 122);
}

.classes-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* class for all boxes together */
.members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: .2rem solid rgb(0, 0, 0);
    /* height: 16vw; */
    height: 25vh;
    margin: .5rem;
    background-image: linear-gradient(to right, rgba(159, 39, 39, 0.816), rgba(176, 127, 52, 0.9));
}

.member-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
  /* margin: .1rem; */
  /* padding: .1rem; */
  /* border: 2px solid black; */
  width: 100%;
}

.party-info {
  border: .15rem solid black;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  font-size: 2vw;
  margin: .1rem;
}

.party-pic {
  border: .15rem solid black;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  font-size: 2vw;
  margin: .1rem;
}

#label1 {
  font-size: 2vw;
  width:100%;
  height: 2vw;
  margin-left: .2rem;
  color: rgb(233, 190, 122);
}

.name-text {
  width: 70%;
  font-size: 1vw;
  height: 1.5vw;
  margin-left: .2rem;
  /* margin-bottom: .5rem; */
}

.party-class {
  width: 80%;
  font-size: 1vw;
  height: 2vw;
  margin-left: .2rem;
  background:  rgb(233, 190, 122);
}


.card-title {
    font-size: 2.5vw;
    margin: .1rem;
    color: rgb(233, 190, 122);
}



#member-1 {
    width: 33%;
    /* margin-left:3%; */
    
   
}

#member-2 {
    width: 33%;
    /* margin-left: .5%;
    margin-right:25%; */
   
}
#member-3 {
    width: 33%;
    /* margin-left:3%; */
    
}
#member-4 {
    width: 33%;
    /* margin-left: .5%;
    margin-right:25%; */
    
}



.button-party {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #submit-btn {
    width: 20%;
    margin: .5%;
    margin-top: 2%;
  } */

#create-btn {
   margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(159, 39, 39, 0.816), rgba(176, 127, 52, 0.9));
    color: white;
    width: 10vw;
    height: 5vw;
    padding: 1.5rem;
  
  }