/* body {
    display: flex;
    justify-content: center;
    background-image: url(../../images/testForest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cinzel', serif;
} */

.signup-div {
  display: flex;
  font-family: 'Cinzel', serif;
  justify-content: center;
  padding-top: 1%;
  position: relative;
}

.form-div {
  justify-content: center;
  /* border: 5px solid black; */
  border-radius: 25px;
  height: 30rem;
}

.signup-h2 {
   font-size: xx-large;
   text-align: center;
   height: 1rem;
   color: #174d24;
   font-weight: bold;
}

.signup-boxes {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
   padding-top: 5%;
  /* padding-bottom: 5%;  */
  height: 5rem;
  /* border: 2px solid black; */
  /* border: 2px solid black; */
  flex-direction: column;
  margin:1rem;
}
.buttons{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: row;
  /* border: 5px solid black; */
}

.login-box {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  width: 100%;
}
.signUp-box {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* border: 3px solid black; */
  width: 40%;
}
.username-input{
    padding: 10px;
    /* border-radius: 4px; */
    /* border: 2px solid #5d0cff; */
    outline: none;
    background:white;
}
.username-input::placeholder {
    color:black;
  }
.password-input{
    padding:10px;
    /* border-radius: 4px; */
    /* border: 2px solid #5d0cff; */
    outline: none;
    background: white;
}
.password-input::placeholder {
    color: black;
  }


#login-btn{
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #3e0606;
  color: #fff;
  text-transform: capitalize;
}
#signUp-btn{
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: #174d24;
    color: #fff;
    text-transform: capitalize;

}
/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap" rel="stylesheet"> */




@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');



/* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Tilt Prism', cursive; */

