/* body {
    display: flex;
    justify-content: center;
    background-image: url(../../images/testForest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Cinzel', serif;
} */

.signup-div {
  display: flex;
  font-family: 'Cinzel', serif;
  justify-content: center;
  padding-top: 1%;
  position: relative;
}

.form-div {
  justify-content: center;
  /* border: 5px solid black; */
  border-radius: 25px;
  height: 30rem;
}

.signup-h2 {
   font-size: 2.2rem;
   text-align: center;
   height: 3rem;
   text-shadow: 0 0 30px rgb(199, 2, 2); 
   margin-top: 7.5rem;
   color: grey;
   padding-left: 3rem; 
} 

.signup-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
   padding-top: 5%;
   padding-left: 2.2rem; 
   padding-bottom: 5%; 
  height: 5rem;
  /* border: 2px solid black;  */
  flex-direction: column;
  margin:1rem;
}
.buttons{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* border: 5px solid black;  */
  padding-left: 2.5rem;
}

.login-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}
.signUp-box {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* border: 3px solid black; */
  /* width: 50%; */
}
.username-input{
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #000000;
    outline: none;
    background:white;
}
.username-input::placeholder {
    color:black;
  }
.password-input{
    padding:10px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #000000;
    outline: none;
    background: white;
}
.password-input::placeholder {
    color: black;
  }


#login-btn{
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: #3e0606;
  color: #fff;
  text-transform: capitalize;
  width: 40%;
}
#signUp-btn{
    /* padding: 10px; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: #174d24;
    color: #fff;
    text-transform: capitalize;
    width: 40%;

}
/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap" rel="stylesheet"> */




@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script&family=Pacifico&family=Tilt+Prism&display=swap');



/* font-family: 'Cinzel', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Tilt Prism', cursive; */

